<div class="min-h-screen bg-gray-100 text-gray-900 flex justify-center"> <!-- h-screen -->
  <div class="max-w-screen-xl m-7 bg-white shadow rounded-lg flex justify-center flex-1">

    <!-- Contenedor principal derecho -->
    <div class="lg:w-1/2 xl:w-5/12 px-6 md:px-12 py-10"> <!--  overflow-y-auto -->

        <!-- Logo + Título -->
         <div class="flex items-center justify-center gap-1">
           <img
             src="assets/svg/logoGruesoNegro.svg"
             alt="HealthTuring Logo"
             class="h-10"
           />
           <h1 class="text-xl font-semibold mytitle-font">
             <span class="text-primary">Health</span>
             <span class="text-light-blue">Turing</span>
           </h1>
         </div>

          <router-outlet></router-outlet>

    </div>
    <div class="relative h-full overflow-hidden hidden lg:block lg:w-[calc(100%-480px)]">
      <img [src]="imageSrc" alt="Dynamic Img" class="w-full h-full object-cover rounded-r-lg" />
    </div>
  </div>
</div>
