<div class="mt-5 flex flex-col items-center justify-center">
  <h2 class="text-xl sm:text-2xl font-semibold">
    Solicitud para restablecer contraseña
  </h2>
  <p class="text-sm text-gray-500 mt-4">
    Por favor, introduce tu dirección de correo electrónico para restablecer tu
    contraseña
  </p>
  <div class="w-full flex-1 mt-5">
    <form [formGroup]="forgetPasswordForm" autocomplete="off" (ngSubmit)="onSubmit()">
      <div class="flex flex-col relative flex-1">
        <input type="email" id="email" placeholder=" " [class]="
            formUtils.isValidField(forgetPasswordForm, 'email')
              ? 'border-red-600'
              : 'border-gray-500'
          " class="w-full p-2 rounded text-gray-700 outline-none border transition-all duration-300 group__input"
          formControlName="email" />
        <label for="email" [class]="
            formUtils.isValidField(forgetPasswordForm, 'email')
              ? 'text-red-600'
              : 'text-gray-700'
          " class="absolute bg-white top-2.5 left-2.5 mb-1.5 text-sm transition-all duration-300 group__label">
          Email
        </label>
        <span class="material-icons-outlined absolute right-3 top-2.5 text-gray-500">mail</span>
        @if (formUtils.isValidField(forgetPasswordForm, 'email')) {
        <span class="text-red-600 text-sm m-1">
          {{ formUtils.getFieldError(forgetPasswordForm, "email") }}
        </span>
        }
      </div>

      <div class="flex justify-between items-center mt-7">
        <a routerLink="auth/login" class="underline">Volver a Iniciar Sesión</a>
        <button [disabled]="forgetPasswordForm.invalid" class="bg-primary text-white py-2 px-4 m-0 rounded font-semibold cursor-pointer disabled:cursor-not-allowed" type="submit">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
