<header class="bg-primary text-white flex justify-between items-center px-6 py-3 shadow-md">

    <div class="flex items-center gap-4">
        <img src="assets/svg/logoGruesoNegro.svg" alt="HealthTuring Logo" class="h-10 cursor-pointer" />
        <h1 class="text-xl font-semibold mytitle-font">HealthTuring</h1>
    </div>
    <div class="flex items-center gap-2 bg-red-700 text-white p-2 rounded cursor-pointer">
        <button (click)="logout()">Cerrar sesión</button>
        <span class="material-icons-outlined">logout</span>
    </div>
    

</header>