@import "tailwindcss";

:root {
  /* Colors */
  --primary-blue: #2DABB9;

  /* Font */
  --font-primary: "Roboto", sans-serif;
  --font-title: "Merriweather", serif;
}

body {
  font-family: var(--font-primary);
}
