<div class="mt-5 flex flex-col items-center">
  <h2 class="text-xl sm:text-2xl text-center font-semibold">
    Iniciar sesión en <span class="text-primary">HealthTuring</span>
  </h2>
  <p class="text-sm text-gray-500 mt-1">Tu salud, organizada!</p>

  <div class="w-full flex-1 mt-5">
    <form class="space-y-5" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col relative flex-1">
        <input type="email" id="email" placeholder=" "
          [class]="formUtils.isValidField(loginForm, 'email') ? 'border-red-600' : 'border-gray-500'"
          class="w-full p-2 rounded text-gray-700 outline-none border transition-all duration-300 group__input"
          formControlName="email"
        />
        <label for="email"
          [class]="formUtils.isValidField(loginForm, 'email') ? 'text-red-600' : 'text-gray-700'"
          class="absolute bg-white top-2.5 left-2.5 mb-1.5 text-sm transition-all duration-300 group__label">
          Email
        </label>
        <span class="material-icons-outlined absolute right-3 top-2.5 text-gray-500">mail</span>
        @if (formUtils.isValidField(loginForm, 'email')) {
        <span class="text-red-600 text-sm m-1">
          {{ formUtils.getFieldError(loginForm, "email") }}
        </span>
        }
      </div>

      <div class="flex flex-col relative flex-1 group mb-2">
        <input type="password" id="password" placeholder=" "
          [type]="showPassword ? 'text' : 'password'"
          [class]="formUtils.isValidField(loginForm, 'password') ? 'border-red-600' : 'border-gray-500'"
          class="w-full p-2 rounded text-gray-700 outline-none border border-gray-500 group__input"
          formControlName="password"
          value="$Userpass1"
        />
        <label for="password"
          [class]="formUtils.isValidField(loginForm, 'password') ? 'text-red-600' : 'text-gray-700'"
          class="absolute bg-white top-2.5 left-2.5 mb-1.5 text-sm transition-all duration-500 group__label">
          Contraseña
        </label>
        <span class="material-icons-outlined absolute right-3 top-2.5 text-gray-500 select-none cursor-pointer" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'visibility' : 'visibility_off' }}
        </span>
        @if (formUtils.isValidField(loginForm, 'password')) {
        <span class="text-red-600 text-sm m-1">
          {{ formUtils.getFieldError(loginForm, "password") }}
        </span>
        }
      </div>

      <div class="text-right text-sm">
        <a href="#" class="text-primary hover:underline">¿Has olvidado tu contraseña?</a>
      </div>

      <button type="submit" class="w-full bg-primary text-white py-2 m-0 rounded font-semibold">
        Iniciar Sesión
      </button>

      <div class="flex items-center justify-center w-full my-5">
        <hr class="flex-grow border-gray-500" />
        <span class="mx-4 text-gray-500">o</span>
        <hr class="flex-grow border-gray-500" />
      </div>

      <div class="flex items-center justify-center">
        <button type="button"
          class="w-full border border-gray-500 py-2 rounded flex items-center justify-center gap-2 hover:shadow">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="w-5 h-5">
            <g>
              <path fill="#EA4335"
                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
              </path>
              <path fill="#4285F4"
                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
              </path>
              <path fill="#FBBC05"
                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
              </path>
              <path fill="#34A853"
                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
              </path>
              <path fill="none" d="M0 0h48v48H0z"></path>
            </g>
          </svg>
          Iniciar sesión con Google
        </button>
      </div>

      <div class="text-center text-sm">
        ¿Primera vez en HealthTuring?
        <span href="#" class="text-primary hover:underline cursor-pointer" routerLink="/auth/register">Regístrate</span>
      </div>
    </form>
  </div>
</div>
