.text-primary {
  color: var(--primary-blue);
}

.text-light-blue {
  color: var(--light-blue);
}

.bg-primary {
  background-color: var(--primary-blue);
}

.bg-primary:hover {
  background-color: var(--dark-blue);
}

.group__input:focus {
  border: 1px solid var(--primary-blue);
}

.group__input:focus + .group__label {
  color: var(--primary-blue);
}

.group__input:focus + .group__label, .group__input:not(:placeholder-shown) + .group__label {
  padding: 1px 15px;
  top: -10px;
  left: 10px;
  font-size: 12px;
}
