.text-primary {
  color: var(--primary-blue);
}

.text-light-blue {
  color: var(--light-blue);
}

.bg-lightness-blue:hover {
  background-color: var(--lightness-blue);
}


.bg-off-white {
  background-color: var(--off-white);
}
