<nav [ngClass]="{'w-64': !isCollapsed, 'w-20': isCollapsed}"
  class="flex flex-col justify-between h-[calc(100vh-64px)] overflow-y-auto overflow-x-hidden text-gray-800 shadow-xl p-2 transition-all duration-200">

  <div>
    <!-- Top section -->
    <div class="flex items-end justify-center gap-2 mb-5">
      <img src="assets/img/image.png" alt="HealthTuring Logo" class="h-10" />
      <h1 *ngIf="!isCollapsed" class="text-xl text-gray-800 font-semibold mytitle-font">
        HealthTuring
      </h1>
    </div>

    <div class="flex items-center justify-center space-x-3 text-sm cursor-pointer" (click)="toggleSidebar()">
      <span class="material-icons-outlined" [ngClass]="{'rotate-180': isCollapsed}">start</span>
      <span *ngIf="!isCollapsed">Colapsar</span>
    </div>

    <!-- Navigation items -->
    <ul class="flex flex-col mt-5 space-y-2 font-medium" [ngClass]="{'items-center': isCollapsed}">
      <li class="flex items-center space-x-3 p-2 rounded cursor-pointer hover:bg-gray-100">
        <span class="material-icons-outlined">medical_information</span>
        <span *ngIf="!isCollapsed">Historial Clínico</span>
      </li>
      <li class="flex items-center space-x-3 p-2 rounded cursor-pointer hover:bg-gray-100">
        <span class="material-icons-outlined">event</span>
        <span *ngIf="!isCollapsed">Calendario</span>
      </li>
      <li class="flex items-center space-x-3 p-2 rounded cursor-pointer hover:bg-gray-100">
        <span class="material-icons-outlined">support_agent</span>
        <span *ngIf="!isCollapsed">Cita Online</span>
      </li>
      <li class="flex items-center space-x-3 p-2 rounded cursor-pointer hover:bg-gray-100">
        <span class="material-icons-outlined">vaccines</span>
        <span *ngIf="!isCollapsed">Tratamientos</span>
      </li>
    </ul>
  </div>

  <shared-select-patients></shared-select-patients>

</nav>