<nav class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto flex justify-center items-center h-12">

        <!-- Menu items -->
        <ul class="flex space-x-8 text-sm font-medium text-gray-800">
            <li class="cursor-pointer hover:bg-teal-100"><span>Historial Médico</span></li>
            <li class="cursor-pointer"><span>Calendario</span></li>
            <li class="cursor-pointer"><span>Tratamientos</span></li>
            <li class="cursor-pointer"><span>Contacto</span></li>
            <li class="cursor-pointer"><span>Cita Online</span></li>
        </ul>
    </div>
</nav>