<nav class="bg-white shadow-md hidden md:block">
    <div class="max-w-7xl mx-auto flex justify-center items-center h-12">
        <ul class="flex space-x-8 text-sm font-medium text-gray-800 h-full">
            <li class="cursor-pointer flex items-center h-full relative group">
                <span>Historial Médico</span>
                <span class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
            </li>
            <li class="cursor-pointer flex items-center h-full relative group">
                <span>Calendario</span>
                <span class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
            </li>
            <li class="cursor-pointer flex items-center h-full relative group">
                <span>Tratamientos</span>
                <span class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
            </li>
            <li class="cursor-pointer flex items-center h-full relative group">
                <span>Contacto</span>
                <span class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
            </li>
            <li class="cursor-pointer flex items-center h-full relative group">
                <span>Cita Online</span>
                <span class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
            </li>
        </ul>
    </div>
</nav>

<button class="md:hidden fixed top-20 left-2 p-2 rounded bg-primary">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm120-80v-560H200v560h120Zm80 0h360v-560H400v560Zm-80 0H200h120Z"/>
    </svg>
</button>