<nav class="text-gray-800 shadow-md hidden md:block">
  <div class="max-w-7xl mx-auto relative flex justify-between items-center h-12">
    <!-- Pegado a la izquierda -->

    <!-- Botón Paciente -->



    <!-- Centrado absoluto -->
    <ul class="absolute left-1/2 transform -translate-x-1/2 flex space-x-8 text-sm font-medium h-full">
      <li class="cursor-pointer flex items-center h-full relative group">
        <span class="whitespace-nowrap">Historial Médico</span>
        <span
          class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
      </li>
      <li class="cursor-pointer flex items-center h-full relative group">
        <span>Calendario</span>
        <span
          class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
      </li>
      <li class="cursor-pointer flex items-center h-full relative group">
        <span>Tratamientos</span>
        <span
          class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
      </li>
      <li class="cursor-pointer flex items-center h-full relative group">
        <span>Contacto</span>
        <span
          class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
      </li>
      <li class="cursor-pointer flex items-center h-full relative group">
        <span class="whitespace-nowrap">Cita Online</span>
        <span
          class="absolute bottom-0 left-0 w-0 h-[3px] bg-primary transition-all duration-300 group-hover:w-full"></span>
      </li>
    </ul>
  </div>
</nav>

<!--     <div>
      <span (click)="togglePacientes()"
        class="flex items-center justify-center h-12 gap-2 w-64 profile-border font-medium px-2 py-2 transition cursor-pointer">
        <span class="material-icons-outlined">face</span>
        {{ pacienteSeleccionado }}
      </span>
    </div>


@if (mostrarPacientes) {

<div class="fixed top-28 left-0 w-64 text-gray-800 transition-transform duration-300 shadow-lg z-99">

  <div class="m-4">
    <span class="text-sm text-semibold">PACIENTES</span>
    <ul class="mb-2">
      <li *ngFor="let paciente of pacientes" (click)="seleccionarPaciente(paciente)"
        class="flex items-center gap-2 py-2 hover:bg-gray-100 cursor-pointer ">
        <span class="material-icons-outlined">face</span>
        <span class="text-sm">{{ paciente }}</span>
      </li>
    </ul>
    <button class="material-icons-outlined bg-primary p-2 w-full rounded text-white">add</button>
  </div>



</div>
} -->
