<div class="mt-5 flex flex-col items-center">
  <h2 class="text-xl sm:text-2xl font-semibold">
    Restablece tu contraseña
  </h2>
  <p class="text-sm text-gray-500 mt-4">
    Ingresa una nueva contraseña segura y confírmala para actualizar la información de tu cuenta. Asegúrate de que ambas contraseñas coincidan
  </p>
  <div class="w-full flex-1 mt-5">
    <form class="space-y-5" [formGroup]="resetPasswordForm" autocomplete="off" (ngSubmit)="onSubmit()">

      <div class="flex flex-col relative flex-1 group">
        <input type="password" id="newPassword" placeholder=" "
          [class]="formUtils.isValidField(resetPasswordForm, 'newPassword') ? 'border-red-600' : 'border-gray-500'"
          class="w-full p-2 rounded text-gray-700 outline-none border border-gray-500 group__input"
          formControlName="newPassword"
          value="$Userpass1"
        />
        <label for="newPassword"
          [class]="formUtils.isValidField(resetPasswordForm, 'newPassword') ? 'text-red-600' : 'text-gray-700'"
          class="absolute bg-white top-2.5 left-2.5 mb-1.5 text-sm transition-all duration-500 group__label">
          Nueva Contraseña
        </label>
        @if (formUtils.isValidField(resetPasswordForm, 'newPassword')) {
        <span class="text-red-600 text-sm m-1">
          {{ formUtils.getFieldError(resetPasswordForm, "newPassword") }}
        </span>
        }
      </div>

      <div class="flex flex-col relative flex-1 group">
        <input type="password" id="confirmPassword" placeholder=" "
          [class]="formUtils.isValidField(resetPasswordForm, 'confirmPassword') ? 'border-red-600' : 'border-gray-500'"
          class="w-full p-2 rounded text-gray-700 outline-none border border-gray-500 group__input"
          formControlName="confirmPassword"
          value="$Userpass1"
        />
        <label for="confirmPassword"
          [class]="formUtils.isValidField(resetPasswordForm, 'confirmPassword') ? 'text-red-600' : 'text-gray-700'"
          class="absolute bg-white top-2.5 left-2.5 mb-1.5 text-sm transition-all duration-500 group__label">
          Confirmar Contraseña
        </label>
        @if (formUtils.isValidField(resetPasswordForm, 'confirmPassword')) {
        <span class="text-red-600 text-sm m-1">
          {{ formUtils.getFieldError(resetPasswordForm, "confirmPassword") }}
        </span>
        }
      </div>

      @if( resetPasswordForm.errors && resetPasswordForm.touched ) {
        <span class="text-red-600 text-sm m-1"> Las contraseñas introducidas no coinciden </span>
      }

      <div class="flex justify-between items-center mt-7">
        <a routerLink="auth/login" class="underline">Volver a Iniciar Sesión</a>
        <button [disabled]="resetPasswordForm.invalid" class="bg-primary text-white py-2 px-4 m-0 rounded font-semibold cursor-pointer disabled:cursor-not-allowed" type="submit">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
